/*
Theme Name: CSV
Theme URI: https://www.csvpm.com
Author: Melissa GALVAN
Author URI: https://melinweb.fr
Description: Thème du Comité Social du Personnel Municipal de Villeurbanne.
Version: 1.0
*/


/* WordPress admin bar */

.menu {
    position: fixed;
    top: 0px;
}

.admin-bar .menu {
    top: 32px;
}